{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>New Products</h3>
    		</div>
    		<div class="see">
    			<p><a href="{% url 'milyoncu:allproducts' %}">See all Products</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group">
			  {% for object in object_list %}
				<div class="grid_1_of_4 images_1_of_4">
					 <a href="preview.html"><img src="/{{ object.logo }}" alt="" /></a>
					 <h2>{{object.name}} </h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">{{object.price}}$</span></p>
					    </div>
					       		<div class="add-cart">
									<h4><a href="preview.html">Add to Cart</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>

				</div>
			  {% endfor %}

			</div>
			<div class="content_bottom">
    		<div class="heading">
    		<h3>Feature Products</h3>
    		</div>
    		<div class="see">
    			<p><a href="#">See all Products</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
			<div class="section group">
                {% for object in object_list %}
				<div class="grid_1_of_4 images_1_of_4">
					 <a href="preview.html"><img src="images/new-pic1.jpg" alt="" /></a>
					 <h2> {{ object.name }} </h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">$849.99</span></p>
					    </div>
					       		<div class="add-cart">
									<h4><a href="preview.html">Add to Cart</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>
				</div>
                {% endfor %}
			</div>
    </div>

{% endblock %}